<%- include("header") -%>

    <h2>This is about page</h2>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dignissimos esse, eos vitae sed reiciendis delectus id
        labore saepe tenetur, maxime ut aliquam reprehenderit iusto soluta eius itaque, optio numquam similique?</p>

    <%- include("footer") -%>